.nav1 a{
text-decoration: none;
color: white;


}
.nav1{
    background-color: rgb(218, 210, 200);
}
.head{
    height: 100px;
    width: 100%;
}
.prod{
    height: 120vh;
    
}
.imag{
    width: 600px;
    height: 600px;
    object-fit: contain;
}
.prodname {
    font-size:150px;
    color: rgb(218, 210, 200);
}
.prodspeed{
    font-size: 50px;
    color: rgb(218, 210, 200);
}
.prodprize{
    font-size: 35px;
    color: rgb(218, 210, 200);
}
.detailsprod{
    font-size: 20px;
    color: rgb(218, 210, 200);
    width: 400px;
}