body{
    background-image: url( ../images/anyback.avif );
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    }


.loginimg{
    border-radius: 50%;
    margin-left: 43%;
}    
.title{
    margin-left: 40%;
}